@import "variables";

/**
 * RESPONSEIVE DESGIN - Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */
@media all and (orientation:portrait) {
	
}

@media all and (orientation:landscape) {

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-width: 480px) {

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
	
	.wrapper {
		width: 768px;
	}

}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 520px) and (max-width : 768px) {
	
	.wrapper {
		width: 520px;
	}

}

@media only screen and (min-width : 320px) and (max-width : 520px) {
	
	.wrapper {
		width: 320px;
	}

}


/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 320px) {
	
}