@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "variables";

html, body {
	height: 100%
}

.wrapper {
	width: $width;
	margin: 0 auto;
	text-align: center;


	.company {
		td > * {
			padding-left: 0;
			font-weight: normal;
			@include transition-property(all);
			@include transition-duration(0.3s);	
		}
		&:hover {
			td > * {
				padding-left: 30px;
				font-weight: bold;
				@include transition-property(all);
				@include transition-duration(0.3s);	
			}
		}
	}

	.search-results {
		
		.company {
			display: none;
			
			&.visible {
				display: table-row;
			}
		}
		
	}

}


header {
	
}


footer {
	
}
