doctype 5
html
  head
    title= title
    //- DEVELOPMENT
    link(rel='stylesheet', href='/js/libs/bootstrap.css/css/bootstrap.min.css')
    link(rel='stylesheet', href='/js/libs/bootstrap.css/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/main.responsive.css')
    //- PRODUCTION
    //- link(rel='stylesheet', href='dist/css/main.css')

  body

    //- HEADER
    header.wrapper.clearfix
      block header

    .wrapper
      //- BODY
      block content

    //- FOOTER
    footer.wrapper.clearfix
      p.pull-right Developed by &copy; 
        a(href="http://uroslates.com") Uros Lates

    //- JAVASCRIPT
    //- DEVELOPMENT
    script(type="text/javascript", src="js/libs/requirejs/require.js", data-main="js/main")
    //- PRODUCTION
    //- script(type="text/javascript", src="js/libs/requirejs/require.js", data-main="dist/js/main")